@model RegisterViewModel
@{
    ViewData["Title"] = "Account";

}

<form asp-controller="Account" asp-action="Register" method="post">

    <div class="grid">
        <label>Login</label>
        <input asp-for="Username" type="text" />
        <span asp-validation-for="Username"></span>

        <label>Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>

        <label>Confirm password</label>
        <input asp-for="PasswordConfirmation" type="password" />
        <span asp-validation-for="PasswordConfirmation"></span>
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input asp-for="ReturnUrl" type="hidden" />
    <input type="submit" value="Register" />
</form>
<style>
    input {
        margin-bottom: .5rem;
    }

    span {
        margin-bottom: .5rem;
    }

    li {
        display: inline-block;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    form {
        text-align: center;
    }
</style>