@model ResetPasswordConfirmationViewModel
@{
    ViewData["Title"] = "Login";

}

<form asp-controller="Account" asp-action="ResetPasswordConfirmation" method="post">
    <div class="grid">
        <label>Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>

        <label>Password Confirmation</label>
        <input asp-for="PasswordConfirmation" type="password" />
        <span asp-validation-for="PasswordConfirmation"></span>
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Username">
    <input type="hidden" asp-for="Token">
    <input type="hidden" asp-for="ReturnUrl">
    <input type="submit" value="Confirm" />
</form>

<style>
    ::marker {
        margin-right: 10px;
    }

    input {
        margin-bottom: .5rem;
    }

    span {
        margin-bottom: .5rem;
    }

    li {
        display: inline-block;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    form {
        text-align: center;
    }
</style>